	<div class="col-lg-6 col-lg-offset-3">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Recurso</th>

				</tr>
			</thead>
			<tbody>
			<% @recursos.each do |rec| %>
				<tr>
					<td><%= rec.nombre%></td>
					<td><%= link_to 'Agregar', :controller=>"menu", :action=> "agregar_recurso", :id_recurso => rec.id%></td>
					
					
				</tr>
			<% end -%>
			</tbody>
		</table>
	</div> 
