<div class="jumbotron" style="margin:10px">
  <h1>Haz sido derrotado...</h1>
  <p><%= current_user.email%>, tu enemigo fue implacable, su respuesta a tu ataque fue brutal...<br>
  Para tu desgracia, tu tropa ha muerto y tus recursos han sido robados. </p><br>
  <p><a class="btn btn-danger btn-lg" href="/menu/menu_user">Ir a mi perfil</a></psdf</div>