<div class="jumbotron" style="margin:10px">
  <h1>Ha sido una batalla muy pareja...</h1>
  <p>...pero no hay un ganador. Aprovecha la calma antes de la guerra, y regresa a tu castillo, <%= current_user.email%></p><br>
  <p><a class="btn btn-info btn-lg" href="/menu/menu_user">Ir a mi perfil</a></psdf</div>