<div class="jumbotron" style="margin:10px">
  <h1>¡Haz ganado la batalla!</h1>
  <p>Felicidades, <%= current_user.email%>. Tu enemigo fue un rival insignificante comparado a tu gran ejército..</p><br>
  <p><a class="btn btn-success btn-lg" href="/menu/menu_user">Ir a mi perfil</a></p>
</div>